a.btn {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1rem 2rem;
    cursor: pointer;
    /* Let user can't select button as text   */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.1rem;
    background-color: orange;
    color: white;
    border: 1px solid #ffb833;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

    a.btn:hover {
        color: lightgray;
    }

    a.btn:active {
        background-color: #cc7000;
        color:lightgray;
    }

    a.btn:before {
        content: "";
        padding: 0;
        width: 160%;
        position: absolute;
        top: -0.1rem;
        left: 0rem;
        border-bottom: 70px solid #cc7000;
        border-right: 60px solid transparent;
        transform: translateX(-100%);
        transition: transform ease .3s;
        z-index: -1;
    }

@media (min-width: 768px) {
    /*PCサイズならかっちょいいホバーエフェクトをつける*/
    a.btn:hover:before {
        transform: translateX(0%);
    }
}


a.btn-maincolor {
    background-color: darkorange;
    color: white;
}

a.btn-small {
    font-size: 1.0rem;
    padding: 0.5rem 1.0rem;
}
