.bg-sub-desc {
    background-color: ghostwhite;
    padding: 1em;
    border-radius: 0.5em;
}

.bg-main-desc {
    padding: 0.5em;
    border-radius: 0.5em;
}

.bg-notice {
    background-color: lightgray;
    padding: 1em;
    border-radius: 0.5em;
}

