@model RankPrediction_Web.Models.ViewModels.CalcViewModel


@{
    ViewData["Title"] = "計算中です...";
}

@section bodycontainer {

    @*<div class="page-bg"></div>*@

}

@section css {

    <style>
        .loading-div {
            position: relative;
            height: 100%;
            margin: 5vh 0;
        }

        .span-sayingby {
            position: relative;
            left: 1rem;
            margin-top: 0.5rem;
        }
    </style>

}

<article>


    <div class="loading-div">

        @await Html.PartialAsync("_LoadingIcon", null)

    </div>

    <p>
        診断を行っています…<br />
        このままお待ちください<br />
        2分ほどかかる場合があります<br/>
    </p>

    <hr />
    <p>
        "@Model.Saying.SayingJa"<br />
        <span class="span-sayingby">
            — @Model.Saying.SayingByJa
        </span>
    </p>

</article>





@section Scripts {

    @if (Model.DataId.HasValue)
    {
        <script>
                //対象IDが存在する場合、結果ページへ遷移
                window.location.href = "../result/@Model.DataId"
        </script>

    }

}




