@model RankPrediction_Web.Models.ViewModels.CalcViewModel


@{
    ViewData["Title"] = "計算中です...";
}

<article>

    <p>
        入力データからランクを予測しています…<br />
        このままお待ちください。<br />
    </p>


    <div>
        guruguru
    </div>


    <p>ここに名言を置く</p>


</article>





@section Scripts {

    @if (Model.DataId.HasValue)
    {
        <script>
                //対象IDが存在する場合、結果ページへ遷移
                window.location.href = "../result/@Model.DataId"
        </script>

    }

}




