@section css {

    <link rel="stylesheet" href="~/css/Index.css" />

}

<p>
    Index.cshtmlです！
    ここをトップ画面とする

</p>

<a asp-controller="ApexRank" asp-action="Input">入力ページへ</a>

@section Scripts {

<script>
    alert("RenderAsync!");
</script>

}
