@section css {

    <link rel="stylesheet" href="~/css/Index.css" />

}

@{
    ViewData["Title"] = "Apexランク予測";
}

@section bodycontainer {

}


<article>

    @*サイトの趣旨を説明する*@
    <section>
        <div class="bg-main-desc">
            <h1>AIであなたの実力を診断します！</h1>

            <p>
                あなたは初心者？それとも上級者？<br />
                キルレ、ダメージを入力して実力を診断しよう<br />
            </p>

            <div>
                <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-sub-desc">
            <h2>実力が気になりませんか？</h2>
            <p>
                Apexは自分の実力が全てではありませんが、かといって影響がないわけでもありません。<br />
                あなたの戦績から、到達できるかもしれないランクを予測してみませんか？<br />
            </p>
            <a class="btn btn-maincolor btn-small" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
        </div>
    </section>

    <section>
        <div class="bg-sub-desc">
            <h3>このサイトを共有する</h3>
            <p>
                フレンドと一緒にランクを予測してみませんか？<br />
                データが増えるほど正確な予測が可能になります！<br />
            </p>
            @await Html.PartialAsync("_SNS", null)

        </div>
    </section>

    <section>
        <div class="bg-notice">
            <h3>留意事項</h3>
            <p>
                適当な入力すんな的なメッセージを書く。<br />
                予測結果は別に結果を保証するわけじゃない的なことを書いて予防線を貼る。<br />
            </p>

        </div>
    </section>


</article>