@section css {

    <link rel="stylesheet" href="~/css/Index.css" />

}

@{

    ViewData["Title"] = "Apex 実力診断";

}

@section bodycontainer {

}


<article>

    @*サイトの趣旨を説明する*@
    <section>
        <div class="text-center" id="top_img_bg">
            <div class="row">
                <div class="col-sm-6 offset-md-2">
                    <div class="bg-main-desc">
                        <h1>AIでAPEXの実力を診断</h1>

                        <p>
                            あなたは初心者？それとも上級者？<br />
                            キルレ・平均ダメージから実力を診断しよう！<br />
                        </p>

                        <div>
                            <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 ">
                    <img src="~/sozai/EtXheooUUA8CO1c.png" alt="" class="img-fluid" id="top_img">
                </div>
            </div>
        </div>
        <!--


        <div class="bg-main-desc mt-5">
            <h1>AIでAPEXの実力を診断</h1>

            <p>
                あなたは初心者？それとも上級者？<br />
                キルレ・平均ダメージから実力を診断しよう！<br />
            </p>

            <div>
                <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
            </div>
        </div>
        -->
    </section>
    <section>
        <div class="bg-sub-desc">


            <h2>実力が気になりませんか？</h2>
            <p>
                Apexはチームプレイが出来るかどうかでランクが決まります。<br />
                しかし、危機的な局面を切り抜けるには個人の実力もまた必要になります。<br />
                あなたの戦績から、その実力で到達できるかもしれないランクを診断してみませんか？<br />
                もしかしたら、マスターやプレデターは意外と近いかもしれません。<br />
            </p>
            <a class="btn btn-maincolor btn-small" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
        </div>
    </section>

    <section>
        <div class="bg-sub-desc">
            <h3>このサイトを共有</h3>
            <p>
                フレンドと一緒に実力を診断してみませんか？<br />
                ユーザーが増えれば増えるほど正確な診断が可能になります！<br />
            </p>
            @await Html.PartialAsync("_SNS", null)

        </div>
    </section>

    <section>
        <div class="bg-notice">
            <h3>注意事項</h3>
            <p>
                データを入力する際は、可能な限り正確に入力してください。<br />
                正確な診断には正確なデータが必要です。<br />
                皆さんから入力された戦績データから、機械学習を使って診断を行います。<br />
                また、データが集まるまでは不正確な結果になりやすくなります。<br />
            </p>

        </div>
    </section>


</article>