@section css {

    <link rel="stylesheet" href="~/css/Index.css" />

}

@{
    ViewData["Title"] = "Apex 実力診断";
}

@section bodycontainer {

    <div id="bg-area" class="page-bg">
         @*背景のループ動画表示エリア*@
        <!--<video id="background-" muted autoplay loop>
            <source src="~/pics/kings-canyon-12.mp4" type="video/mp4" />
            Sorry, your browser doesn't support embedded video.
        </video>-->
        
        @*<img id="bg-img" src="~/pics/game_yatsuatari.png" />*@
        
    </div>

    

}


<article>

    @*サイトの趣旨を説明する*@
    <section>
        <div class="bg-main-desc">
            <h1>AIであなたの実力を診断</h1>

            <p>
                あなたは初心者？それとも上級者？<br />
                キルレ、ダメージから実力を診断しよう<br />
            </p>

            <div>
                <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
            </div>
        </div>
    </section>
    <!--
    <section>
        <div class="bg-sub-desc">
            <h2>機械学習による予測</h2>
            <p>
                入力したステータスと近い他のプレーヤは、どのランクである場合が多いかをSVM(サポートベクターマシン)で分類しています。<br />
                分類を行う機械学習の中で、SVMはよい精度を示すことが多いものです。<br />
                SVMのカーネルには、所謂、非線形フィッティングを行えるカーネルを使っているため、<br />
                「Apexが上手になったのにも関わらず、ゴールド帯からプラチナ帯に上がってダメージとキルレが落ちてしまった！」という場合でも実力が向上していることを見抜く事ができます。<br />
                この性能を存分に引き出すためには、多くのデータが必要になります。<br />
                ランクを推定するたびにそのデータを保存しているため、多くの人にこのサイトで遊んでいただけば、どんどんそれらしい結果が返ってくるようになります。<br />
                データの収集にご協力をお願いします！<br />
            </p>
            <a class="btn btn-maincolor btn-small" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
        </div>
    </section>
    -->
    <section>
        <div class="bg-sub-desc">
            <h2>実力が気になりませんか？</h2>
            <p>
                Apexはチームプレイが出来るかどうかでランクが決まります。<br />
                しかし危機的な局面を切り抜けるには個人プレーの実力が必要になるでしょう。<br />
                あなたのキルレ、平均ダメージなどの戦績から、その実力で到達できるかもしれないランクを診断してみませんか？<br />
                もしかしたら、マスター・プレデターが意外と近くにあるかもしれません。
            </p>
            <a class="btn btn-maincolor btn-small" asp-controller="ApexRank" asp-action="Input" onClickLoad>ランクを予測してみる</a>
        </div>
    </section>

    <section>
        <div class="bg-sub-desc">
            <h3>このサイトを共有</h3>
            <p>
                フレンドと一緒に実力を診断してみませんか？<br />
                ユーザーが増えるほど正確な診断が可能になります！<br />
            </p>
            @await Html.PartialAsync("_tweet", null)

        </div>
    </section>

    <section>
        <div class="bg-notice">
            <h3>留意事項</h3>
            <p>
                データを入力する際には可能な限り正確に入力してください。<br />
                入力されてきた戦績から機械学習を行って診断をしています。<br />
                そのため正確な診断には正確なデータが必要です。<br />
                データが集まるまで、あまり正確な診断ではないかもしれませんがご了承ください。<br />
            </p>

        </div>
    </section>


</article>