@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    Input.cshtmlです！
    ここを入力ページとする
</p>


<a asp-controller="ApexRank" asp-action="Result">結果ページへ</a>