@model RankPrediction_Web.Models.ViewModels.PredictionResultViewModel

@{
    ViewData["Title"] = "ランク予測結果";
}

@section bodycontainer {

    @*<div class="page-bg"></div>*@

}

@section css{

    <style>
        .btn-container {
            display: flex;
            flex-direction: column;
        }

            .btn-container .btn {
                margin-bottom: 1rem;
            }

        @@media (min-width:768px) {
            .btn-container {
                width: 400px;
            }
        }
    </style>

}

<article>

    <section>
        <p>あなたのランクは...</p>

        <p>ここにランク画像を置く</p>

        <p>@Html.Label(Model.RankDiscriptionstring)  </p>

        <p>@Html.Label(Model.RankResultString)</p>

    </section>

    <section>
        <p>
            データ入力のご協力ありがとうございました！<br />
            予測結果を共有してみませんか？<br />
            @await Html.PartialAsync("_SNS", null)
        </p>

    </section>


    <div class="btn-container">
        <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input">もう一度入力する</a>
        <a class="btn btn-small" asp-controller="ApexRank" asp-action="Index">トップへ戻る</a>
    </div>
</article>




