@model RankPrediction_Web.Models.PredictionResultViewModel


<article>

    <section>
        <p>あなたのランクは...</p>

        <p>koko ni gazo oku</p>

        <p>@Html.Label(Model.RankDiscriptionstring)  </p>

        <p>@Html.Label(Model.RankResultString)</p>

    </section>

    <section>
        <p>
            データ入力のご協力ありがとうございました！<br />
            あなたのフレンドにも入力してもらいませんか？<br />
        </p>

        <div>
            <p>ここに共有ボタン群を表示する</p>
        </div>
    </section>


    <div>
        <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input">もう一度入力する</a>
        <a asp-controller="ApexRank" asp-action="Index">トップへ戻る</a>
    </div>
</article>




