@model RankPrediction_Web.Models.ViewModels.PredictionResultViewModel

@{
    ViewData["Title"] = "ランク予測結果";
}

<article>

    <section>
        <p>あなたのランクは...</p>

        <p>ここにランク画像を置く</p>

        <p>@Html.Label(Model.RankDiscriptionstring)  </p>

        <p>@Html.Label(Model.RankResultString)</p>

    </section>

    <section>
        <p>
            データ入力のご協力ありがとうございました！<br />
            予測結果を共有してみませんか？<br />
        </p>

        <div>
            <p>
                @await Html.PartialAsync("_tweet", null)
            </p>
        </div>
    </section>


    <div>
        <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input">もう一度入力する</a>
        <a class="btn btn-small" asp-controller="ApexRank" asp-action="Index">トップへ戻る</a>
    </div>
</article>




