@model RankPrediction_Web.Models.ViewModels.PredictionResultViewModel

@{
    ViewData["Title"] = "診断結果";
}

@section bodycontainer {

    @*<div class="page-bg"></div>*@

}

@section css{

    <style>
        .btn-container {
            display: flex;
            flex-direction: column;
        }

            .btn-container .btn {
                margin-bottom: 1rem;
            }

        .rank-pic-div {
            position: relative;
            width: 100%;
        }

        .rank-pic {
            position: relative;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
        }

        .rank-desc {
            text-align: center;
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }

        #lblRank{
            position:absolute;
            width:100%;
            top:0;
            left:0;
            border-bottom:.5rem solid orange;

        }

        .rank-result {
            position: relative;
            display: inline-block;
        }

            .rank-result::after {
                content: "";
                position: absolute;
                top: 2.1rem;
                left: 0;
                width: 100%;
                background-color: orange;
                /*opacity:0.9;*/
                height: .5rem;
                z-index: -1;
                transform: scale(1,1);
                transition: all .3s ease-in-out;
            }

/*            .rank-result:hover::after {
                transform: scale(1, 1);
            }*/

        @@media (min-width:575px) {
            .rank-pic {
                width: 70%;
                height: auto;
            }
        }

        @@media (min-width:768px) {
            .btn-container {
                width: 400px;
            }

            .rank-pic {
                width: 40%;
                height: auto;
            }
        }
    </style>

}

<article>

    <section>

        <p>
            診断結果は...
        </p>

        <div class="rank-pic-div">
            <img class="rank-pic" src=" @Model.PredictedResult.RankImageSrcString " />
        </div>

        <div class="rank-desc">

            <h1 class="rank-result">
                @Model.PredictedResult.PredictResult.RankNameJa
            </h1>
            @*相当！*@
            <p>
                @Html.Label(Model.PredictedResult.PredictResult.RankDescJa)
            </p>
        </div>

    </section>

    <hr />
    <section>
        <h2>
            より高みを目指すために...
        </h2>
        <div class="container">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=wagashimgmg-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07F5TK7SG&linkId=21762db6e699b3aeb578032ce6e18d71"></iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=wagashimgmg-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B08CKZNCPP&linkId=c0ce8738691151f443b11316086ce1c2"></iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=wagashimgmg-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01GHUA3XA&linkId=58e89c183edd0207d5af53f25e6fc3f3"></iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=wagashimgmg-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B095Y9JQGR&linkId=c9b1129aca8405a57f268fcc55e93aba"></iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=wagashimgmg-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B08V5HPXVY&linkId=a588309d50024abf03557185ea32350c"></iframe>
        </div>
    </section>

    <section>
        <p>
            データ入力のご協力ありがとうございました！<br />
            予測結果を共有してみませんか？<br />
            @await Html.PartialAsync("_SNS", Model)
        </p>

    </section>


    <div class="btn-container">
        <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input">もう一度入力する</a>
        <a class="btn btn-small" asp-controller="ApexRank" asp-action="Index">トップへ戻る</a>
    </div>
</article>



@section Scripts {

<script>
    var lblRank = document.getElementById("lblRank");

    lblRank.classList.add("rank-result-underline-enable");

</script>

}
