@model RankPrediction_Web.Models.ViewModels.PredictionResultViewModel

@{
    ViewData["Title"] = "ランク予測結果";
}

@section bodycontainer {

    @*<div class="page-bg"></div>*@

}

@section css{

    <style>
        .btn-container {
            display: flex;
            flex-direction: column;
        }

            .btn-container .btn {
                margin-bottom: 1rem;
            }

        .rank-pic-div{
            position:relative;
            width:100%;
        }

        .rank-pic {
            position: relative;
            top: 0%;
            left: 50%;
            transform:translateX(-50%);
            width:80%;
        }

        .rank-desc {
            text-align:center;
            font-size:1.5rem;
        }

        @@media (min-width:575px) {
            .rank-pic {
                width: 70%;
                height: auto;
            }
        }

        @@media (min-width:768px) {
            .btn-container {
                width: 400px;
            }
            .rank-pic {
                width: 40%;
                height: auto;
            }

        }



    </style>

}

<article>

    <section>

        <div class="rank-pic-div">
            <img class="rank-pic" src=" @Model.PredictedResult.RankImageSrcString " />
        </div>
        
        <p class="rank-desc">
            @Html.Label(Model.PredictedResult.PredictResult.RankNameJa) 相当でした！<br/>
            @Html.Label(Model.PredictedResult.PredictResult.RankDescJa)
        </p>

    </section>

    <section>
        <p>
            データ入力のご協力ありがとうございました！<br />
            予測結果を共有してみませんか？<br />
            @await Html.PartialAsync("_SNS", null)
        </p>

    </section>


    <div class="btn-container">
        <a class="btn btn-maincolor" asp-controller="ApexRank" asp-action="Input">もう一度入力する</a>
        <a class="btn btn-small" asp-controller="ApexRank" asp-action="Index">トップへ戻る</a>
    </div>
</article>




