@model RankPrediction_Web.Models.PredictionDatum

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PredictionDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <select asp-for="SeasonId" class ="form-control" asp-items="ViewBag.SeasonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RankId" class="control-label"></label>
                <select asp-for="RankId" class ="form-control" asp-items="ViewBag.RankId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KillDeathRatio" class="control-label"></label>
                <input asp-for="KillDeathRatio" class="form-control" />
                <span asp-validation-for="KillDeathRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageDamage" class="control-label"></label>
                <input asp-for="AverageDamage" class="form-control" />
                <span asp-validation-for="AverageDamage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchCounts" class="control-label"></label>
                <input asp-for="MatchCounts" class="form-control" />
                <span asp-validation-for="MatchCounts" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsParty" /> @Html.DisplayNameFor(model => model.IsParty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

