@using RankPrediction_Web.Language;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @I18n.SITE_TITLE</title>
    <script data-ad-client="ca-pub-9870287938454568" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript" src="~/js/toggleNativeShareButton.js" async></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nav-bg border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="ApexRank" asp-action="Index" onClickLoad>Apex Legends ランク予測</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 bg-main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top modal-footer  text-muted">
        <div class="container">
            &copy; 2021 - Apexランク予測
            @await Html.PartialAsync("_SNS", null)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loading.js" asp-append-version="true"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
