<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/social-footer.css" />

<div class="social-footer-ul">
    
    <a href="https://twitter.com/share?url=https://apexrankprediction.azurewebsites.net/&text=AIでAPEXの実力を診断してみよう&hashtags=APEX実力診断" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://apexrankprediction.azurewebsites.net/"
       target="_blank"
       rel="nofollow noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
    </a>
    @*<a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a>*@
    <a href="https://getpocket.com/edit?url=https://apexrankprediction.azurewebsites.net/"
       target="_blank"
       rel="nofollow noopener noreferrer">
        <i class="fab fa-get-pocket"></i>
    </a>
    <a href="javascript:displayNativeShareMenu();" shareLink>
        <i class="fa fa-share-alt" aria-hidden="true"></i>
    </a>

</div>