@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
   class="twitter-share-button"
   data-show-count="true"
   data-lang="ja"
   data-text="Here is data-text attribute"
   data-url="https://dev.twitter.com/web/tweet-button"
   data-hashtags="testTag,tags,hashTags">ツイートする</a>

@*<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-show-count="true"
    data-lang="ja"
    data-text="Apex Legends ランク予測サイト - あなたのランクを機械学習で予測します！"
    data-hashtags="Apexランク予測,ApexLegends">ツイートする</a>*@