@*共有ボタン系を配置する*@


<style>

    .share-color-container{
        display:flex;
        flex-wrap:wrap;
        width:100%;
    }

    .share-color-container a{
        margin-bottom:1rem;
    }

    .fb-root{
        margin-left:0px;
    }

</style>

<div id="shareButtons" class="share-color-container">

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
       class="twitter-share-button"
       data-show-count="true"
       data-lang="ja"
       data-text="Here is data-text attribute"
       data-url="https://dev.twitter.com/web/tweet-button"
       data-hashtags="testTag,tags,hashTags">ツイートする</a>

    <a href="javascript:displayNativeShareMenu();" shareLink>共有する</a>

    @*<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-show-count="true"
        data-lang="ja"
        data-text="Apex Legends ランク予測サイト - あなたのランクを機械学習で予測します！"
        data-hashtags="Apexランク予測,ApexLegends">ツイートする</a>*@


    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0" nonce="IRBPWOsn"></script>
    <div class="fb-like" data-href="https://apexrankprediction.azurewebsites.net/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>

</div>


