@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    @*<input type="button" asp-controller="PredictionDatums" action="Index" value="データ一覧" />*@
    @Html.ActionLink("データ一覧","Index","PredictionDatums")

</div>
